---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="A propos | Arthur Chevalier" description="A propos de Arthur Chevalier">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A propos"
				tagline="Bonjour, je m'appelle Arthur Chevalier et je suis actuellement en 5ème année à l'Ecole Nationale d'Ingénieurs de Brest."
			>
				<img
					width="1553"
					height="873"
					src="/portfolio/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Présentation</h2>
				<div class="content">
					<p>
						Je suis actuellement en 5ème année d'ingénieur à l'École nationale d'ingénieurs de Brest.
						Passionné par le développement, je me suis spécialisé dans le domaine du développement full stack. Mon objectif est de combiner 
						mes connaissances en conception logicielle, en développement web et en gestion de bases de données pour créer des solutions 
						innovantes et efficaces.
						En plus de mes études d'ingénieur, je poursuis un double diplôme en Système Interactif, 
						Intelligent et Autonome (SIIA), avec une spécialisation en réalité virtuelle, 
						réalité augmentée et intelligence artificielle. Cette combinaison unique de compétences me permet de concevoir des 
						expériences utilisateur immersives et d'intégrer des fonctionnalités intelligentes dans mes projets.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Formations</h2>
				<div class="content">
					<ul>
						<li>Ecole Nationale D'ingénieurs de Brest (ENIB) - 5 ans en informatique, électronique et mécatronique.</li>
						<li>IMT Atlantique, UBO, ENIB : Master SIIA (Système interactif, intélligent et autonome).</li>
						<li>Lycée Jean-Moulin Chateaulin - Baccalauréat mention très bien.</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<ul>
						<li>Programmation : C++, C#, C, Java, Python</li>
						<li>Web : HTMl, CSS & JavaScript</li>
						<li>Framework : AngularJs, ASP.NET</li>
						<li>3D : CARIA V5, Cura</li>
						<li>Autre : STM32, VHDL, Arduino, UNITY PRO XL, Jupyter Notebook</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
