---
import Icon from './Icon.astro';
---

<section class="box">
	<div class="stack gap-2 lg:gap-4">
		<div>
			<img
			alt="Arthur CHEVALIER"
			width="100"
			height="100"
			src="/assets/logo thales.jpg"
			/>
			<h2>THALES BREST - stage</h2>
		</div>
		<h5>
			Juin - Août 2022
		</h5>
		<p>Lors de ce stage de 3 mois, j'ai intégré l'équipe du pôle électronique de Brest de THALES qui développe des cartes électroniques pour sous-marin de détection.
			<br>Dans cette équipe, j'ai réalisé le portage d'un système d'exploitation Linux afin de pouvoir répondre aux différentes exigences en matières de cybersécurité. 
			J'ai également ajouté des drivers officiel permettant de faire des accès mémoires et de gérer les interruptions systèmes.
			
		</p>
		
		<ul>
			<li>Cybersécurisation d'un Linux embarqué</li>
			<li>Portage d'un OS Linux</li>
			<li>Intégration de nouveaux drivers d'accès mémoires et de gestion des intérruptions.</li>
			<li>Modification de device tree afin de faire fonctionner la nouvelle version du système d'exploitation sur la carte électronique embarquée.</li>
		</ul>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.box img{
		float: left;
		margin-right: 2vw;
	}

	.box h2{
		margin-top: 2vh;
	}

	.box ul{
		list-style-type: none;
	}

	.box li::before{
		content: "\2022"; /* Utilise un caractère de puce (par exemple, un rond) */
		color: blueviolet; /* Couleur des points */
		display: inline-block;
		width: 0.8em; /* Ajustez la taille de la puce */
  		height: 1em; /* Ajustez la taille de la puce */
		margin-left: -1em;	
		font-size: 30px;
		position : relative;
		top: 0.6vh;
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}
	}
</style>
