---
import Icon from './Icon.astro';
---

<section class="box">
	<div class="stack gap-2 lg:gap-4">
		<div>
			<img
			alt="Arthur CHEVALIER"
			width="100"
			height="100"
			src="/assets/logo_JM.png"
			/>
			<h2>Lycée Jean-Moulin Chateaulin</h2>
		</div>
		<h5>
			2016 - 2019
		</h5>
		<p>
			Diplomée en 2019 du Baccalauréat scientifique (S) option Science et Vie de la Terre
			, spécialité mathématiques.
			<br>
			Mention - 'Très Bien' et 'Européenne.'
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.box img{
		float: left;
		margin-right: 2vw;
	}

	.box h2{
		margin-top: 2vh;
	}

	.box ul{
		list-style-type: none;
	}

	.box li::before{
		content: "\2022"; /* Utilise un caractère de puce (par exemple, un rond) */
		color: blueviolet; /* Couleur des points */
		display: inline-block;
		width: 0.8em; /* Ajustez la taille de la puce */
  		height: 1em; /* Ajustez la taille de la puce */
		margin-left: -1em;	
		font-size: 30px;
		position : relative;
		top: 0.6vh;
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}
	}
</style>
